# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [23]:
# Your code here:

print(salaries["Salary or Hourly"].count())
salaries['Salary or Hourly'].value_counts().to_dict()

33183

{'Salary': 25161, 'Hourly': 8022}

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [22]:
# Your code here:
salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [27]:
# Your code here:
from scipy.stats import ttest_1samp

In [ ]:
#ESTSAS PRUEBAS DE UNA COLA

#HO: U=30 USD
#HI  U NO ES 30 USD

In [93]:
y= 30 #define el salario por hora que sea 30
hourly = salaries[salaries["Salary or Hourly"] == "Hourly"] #con esto haces un df de sólo los empleados por hora
desv = np.std(hourly["Hourly Rate"]) #obtienes la desv est
media = hourly["Hourly Rate"].mean() #obtienes media

In [94]:
print(desv, media)

12.111817701093837 32.78855771628128

In [88]:
hourly

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
26,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,25.10
33,"ABRAHAMSON, MICHAEL C",STUDENT INTERN - MAYOR'S FELLOWS,MAYOR'S OFFICE,F,Hourly,35.0,NaN,20.00
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
40,"ABRAMS, TIFFANY",OPERATING ENGINEER-GROUP C,WATER MGMNT,F,Hourly,40.0,NaN,45.07
42,"ABREU, DILAN",SEWER BRICKLAYER,WATER MGMNT,F,Hourly,40.0,NaN,44.88
48,"ABRONS, KENNETH L",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
52,"ABUHASHISH, AWWAD",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
56,"ACCARDI, JOHNNA L",EQUIPMENT DISPATCHER,AVIATION,F,Hourly,40.0,NaN,36.22
57,"ACCARDO, ANTHONY D",CONSTRUCTION LABORER,AVIATION,F,Hourly,40.0,NaN,40.20
62,"ACCIARI, NICHOLAS B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
77,"ACEVEDO, JAVIER",ASPHALT LABORER,TRANSPORTN,F,Hourly,40.0,NaN,40.20
87,"ACEVEDO, STEVEN A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,32.04
90,"ACHA, SHARAZAN MARLENE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
95,"ACKLIN, QIANA D",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
96,"ACOSTA, CESAR I",STEAMFITTER,WATER MGMNT,F,Hourly,40.0,NaN,47.50
99,"ACOSTA, JORGE",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
106,"ACOSTA, PABLO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
108,"ACRES, ANTHONY E",LABORER,GENERAL SERVICES,F,Hourly,40.0,NaN,40.20
111,"ADAIR, STEVEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
112,"ADAMCZYK JR, JAN",BOOTER - PARKING,FINANCE,F,Hourly,40.0,NaN,32.25
115,"ADAME, JORGE A",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
...,...,...,...,...,...,...,...,...
33079,"ZIELINSKI, THEODORE J",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
33080,"ZIEMANN, DAVID M",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33081,"ZIEMANN, DONALD W",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33087,"ZIENTARSKI, DAVID A",OPERATING ENGINEER-GROUP A,GENERAL SERVICES,F,Hourly,40.0,NaN,47.44
33090,"ZIMMERMAN, EDWARD A",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
33094,"ZINCHUK, BRIAN C",OPERATING ENGINEER-GROUP A,WATER MGMNT,F,Hourly,40.0,NaN,47.44
33103,"ZIVAT, MICHAEL",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33104,"ZIZUMBO, DANIEL",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33105,"ZIZUMBO, DAVID",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33106,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33108,"ZIZZO, RUSS D",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
33112,"ZOCHOWSKI, DAVID J",OPERATING ENGINEER-GROUP C,AVIATION,F,Hourly,40.0,NaN,45.07
33120,"ZOLTEK, JOHN J",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
33128,"ZOVKO, RICHARD A",HOISTING ENGINEER - MECHANIC,GENERAL SERVICES,F,Hourly,40.0,NaN,52.10
33132,"ZUBECK, JOHN",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
33135,"ZUCCARELLI, ROBERT A",BRIDGE AND STRUCTURAL IRON WORKER,TRANSPORTN,F,Hourly,40.0,NaN,46.20
33136,"ZUCKER, MICHAEL J",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33145,"ZUMARAS, ROLAND A",AIRPORT MAINTENANCE FOREMAN,AVIATION,F,Hourly,40.0,NaN,35.57
33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
33150,"ZUNIGA JR, JAMES",GARAGE ATTENDANT,GENERAL SERVICES,F,Hourly,40.0,NaN,23.31
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
33158,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33161,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [95]:
#Haces la muestra
sample = np.random.normal(media, desv, 1000) #haces la muestra

In [96]:
ttest_1samp(sample, y) #hacemos la prueba o puedes hacer un 30 
#El valor es menor de 0.5, por lo que rechazas la hipótesis nula, lo que quiere decir que el salario por hora es significativamente
#diferente a 30 usd

Ttest_1sampResult(statistic=6.162652888979866, pvalue=1.0361755062917575e-09)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [ ]:
#Ho u > 86000
#H1 u <= 86000

In [141]:
# Your code here:
police_salaried = salaries[(salaries["Department"] == "POLICE") & (salaries['Salary or Hourly'] == "Salary")]
#police_salaried = salaries[salaries["Hourly Rate"] > 0]
police_salaried

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
22,"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
25,"ABFALL, RICHARD C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
27,"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
28,"ABOUASSI, CHADI",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
32,"ABRAHAM, NANCY A",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
34,"ABRAM, ANTHONY A",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
38,"ABRAMSON, NICHOLAS",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
46,"ABRON, FLOYD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
47,"ABRON, KIMYENNA D",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
50,"ABUDAYEH, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
51,"ABUEID, EID I",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
53,"ABURIZEG, MOHAMMAD",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
55,"ABUZANAT, ABDALLA H",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,97440.0,NaN
58,"ACCARDO, ANTHONY V",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
59,"ACCARDO, JENNIFER A",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
60,"ACCARDO, THOMAS J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
64,"ACEVEDO, AARON F",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
65,"ACEVEDO, ALEJANDRO R",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
66,"ACEVEDO, BIENVENIDO",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
68,"ACEVEDO, DAVID M",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
69,"ACEVEDO, EDWARD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
70,"ACEVEDO, EDWIN",DETENTION AIDE,POLICE,F,Salary,NaN,43800.0,NaN
72,"ACEVEDO, ERIC",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
74,"ACEVEDO, ILIA",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
...,...,...,...,...,...,...,...,...
33117,"ZOLLER, RICHARD S",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33118,"ZOLLMER, MELISSA",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33122,"ZOOK, JOHN S",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33124,"ZOTTA, FRANK",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33129,"ZUBB, SHANNON M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33130,"ZUBECK, GINA M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33131,"ZUBECK, JAMES F",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33133,"ZUBER, MICHAEL R",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,100980.0,NaN
33134,"ZUBER, PATRICIA O",LIEUTENANT,POLICE,F,Salary,NaN,127692.0,NaN
33140,"ZULEVIC, JANAAN M",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33141,"ZULFIC, ALEN",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33142,"ZULKEY, JOSEPH",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,91080.0,NaN
33146,"ZUMBROCK, JOHN M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33151,"ZUNIGA, JUAN M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33152,"ZUNIGA, JURDON",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33153,"ZUNIGA, NOE",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33154,"ZUNIGA, OSCAR",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33155,"ZUNIGA, RONALD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33160,"ZUPANCIC, KELLY",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33163,"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33166,"ZURITA, ADRIEL",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33170,"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33172,"ZYCH, MATEUSZ",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33173,"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33176,"ZYGMUNT, ARTUR",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [131]:
police_salaried.groupby(["Salary or Hourly"]).count()

,Name,Job Titles,Department,Full or Part-Time,Typical Hours,Annual Salary,Hourly Rate
Salary or Hourly,,,,,,,
Salary,13404,13404,13404,13404,0,13404,0

In [132]:
x = 86000
media = police_salaried["Annual Salary"].mean()

In [134]:
print(media, desv)

86486.41450313339 18271.546685177447

In [138]:
#Hazme la muestra
muestra_pol = np.random.normal(media, desv, 1500)
muestra_pol

array([76454.68556029, 57758.67346562, 99646.81258707, ...,
       83339.43734735, 95338.50973694, 97280.24434449])

In [142]:
#Prueba
ttest_1samp(muestra_pol, 86000)

Ttest_1sampResult(statistic=0.9125928039448482, pvalue=0.36160348530877295)

In [ ]:
#Como p value es es mayor a 0.05 fallamos en rachazar la hipótesis nula. Lo que quiere decir que el salario
#sí es mayor a 86,000

Using the `crosstab` function, find the department that has the most hourly workers.

In [165]:
# Your code here:
table = pd.crosstab(salaries.Department, salaries["Salary or Hourly"])#columns = "Hourly Rate")
table.sort_values("Hourly", ascending = False).head()

#El departamento con más trabajadores por hora es Streets and San

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [167]:
# Your code here:
salaries[salaries["Department"]=="STREETS & SAN"].mean()  #La estadísitca dice que sí es cierto

Typical Hours       37.137487
Annual Salary    83019.250000
Hourly Rate         33.728378
dtype: float64

In [ ]:
#prueba
#Ho u < 35
#H1 u => 35

In [169]:
df = salaries[salaries["Department"]=="STREETS & SAN"]

In [175]:
media = df["Hourly Rate"].mean()
desv = np.std(df["Hourly Rate"])

In [177]:
print(media, desv)

33.728378088076845 5.733701558944117

In [180]:
muestra = np.random.normal(media, desv, 500)

In [183]:
ttest_1samp(muestra, 35)

Ttest_1sampResult(statistic=-6.234455692398844, pvalue=9.663304285104191e-10)

In [ ]:
#Concluimos que nuestro p values es menor que 0.05, lo que significa que rechazamos la hipótesis nula,
#Lo que significa que los salarios sí so nmenor a 34 usd por hora.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [191]:
# Your code here:
from scipy.stats import sem, t
from scipy import mean

In [204]:
police_salaried["Salary or Hourly"].value_counts()

Salary    13404
Name: Salary or Hourly, dtype: int64

In [205]:
police_salaried

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
22,"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
25,"ABFALL, RICHARD C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
27,"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
28,"ABOUASSI, CHADI",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
32,"ABRAHAM, NANCY A",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
34,"ABRAM, ANTHONY A",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
38,"ABRAMSON, NICHOLAS",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
46,"ABRON, FLOYD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
47,"ABRON, KIMYENNA D",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
50,"ABUDAYEH, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
51,"ABUEID, EID I",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
53,"ABURIZEG, MOHAMMAD",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
55,"ABUZANAT, ABDALLA H",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,97440.0,NaN
58,"ACCARDO, ANTHONY V",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
59,"ACCARDO, JENNIFER A",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
60,"ACCARDO, THOMAS J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
64,"ACEVEDO, AARON F",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
65,"ACEVEDO, ALEJANDRO R",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
66,"ACEVEDO, BIENVENIDO",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
68,"ACEVEDO, DAVID M",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
69,"ACEVEDO, EDWARD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
70,"ACEVEDO, EDWIN",DETENTION AIDE,POLICE,F,Salary,NaN,43800.0,NaN
72,"ACEVEDO, ERIC",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
74,"ACEVEDO, ILIA",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
...,...,...,...,...,...,...,...,...
33117,"ZOLLER, RICHARD S",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33118,"ZOLLMER, MELISSA",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33122,"ZOOK, JOHN S",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33124,"ZOTTA, FRANK",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33129,"ZUBB, SHANNON M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33130,"ZUBECK, GINA M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33131,"ZUBECK, JAMES F",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33133,"ZUBER, MICHAEL R",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,100980.0,NaN
33134,"ZUBER, PATRICIA O",LIEUTENANT,POLICE,F,Salary,NaN,127692.0,NaN
33140,"ZULEVIC, JANAAN M",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33141,"ZULFIC, ALEN",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33142,"ZULKEY, JOSEPH",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,91080.0,NaN
33146,"ZUMBROCK, JOHN M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33151,"ZUNIGA, JUAN M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33152,"ZUNIGA, JURDON",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33153,"ZUNIGA, NOE",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33154,"ZUNIGA, OSCAR",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33155,"ZUNIGA, RONALD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33160,"ZUPANCIC, KELLY",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33163,"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33166,"ZURITA, ADRIEL",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33170,"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33172,"ZYCH, MATEUSZ",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33173,"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33176,"ZYGMUNT, ARTUR",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [194]:
import numpy as np, scipy.stats as st

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [206]:
#Estos ya están filtrados para que no esté la policia 
st.t.interval(0.95, len(police_salaried["Annual Salary"])-1, loc=np.mean(police_salaried["Annual Salary"]))#, scale=st.sem(police2["Annual Salary"]))

(86484.45436213759, 86488.37464412919)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [229]:
# Your code here:
import numpy as np
from statsmodels.stats.proportion import proportions_ztest

In [ ]:
#Ho u = 25%
#H1 u no es igual 25%

In [211]:
#Obtienes la proporción de los que trabajan por hora y la población
trab_hora = len(salaries[salaries["Salary or Hourly"]== "Hourly"])
trab_todos = len(salaries)

In [237]:
print(trab_hora, trab_todos) #Los que trabajan por hora y todos los que trabajan
trab_hora/trab_todos

8022 33183

0.24175029382515142

In [259]:
stat, proporcion = proportions_ztest(count=trab_hora, nobs=trab_todos, value=0.25)
proporcion
#proporcion2 = proporcion = proportions_ztest(trab_hora, trab_todos, value=0.95)

#Como el valor de p.values es menor a 0.05 se rechaza la Ho, y se acepta la hipótesis alternativa.
#Esto significa que el number de trabajadores por hora en Chicago es significativamente dif al 25% 


#print('{0:0.3f}'.format(proporcion))

0.0004481127249057967

In [ ]:
#Se rechaza la hipótesis nula dado que p.value <0.05, por lo que lo concluimos que el promedio de trabajadores
#por hora en Chicago difiere de 25%.